* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
}



.about-us {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
}

.header-image {
  background-image: url('');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.ceo-message {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 20px 0;
}

.ceo-message img {
  border-radius: 50%;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

blockquote {
  font-style: italic;
  opacity: 0.8;
}

.values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  padding: 20px;
}

.value h3 {
  margin-bottom: 10px;
  color: #007bff;
}

.social-media {
  align-items: center;
  align-content: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); /* Responsive grid layout */
  justify-content: space-between; /* Center icons horizontally */
  gap: -40em; /* Gap between icons */
  padding: 60px;
  padding-left: 300px;
  
}

.social-media-icon {
  width: 100px; /* Set the width of the icon */
  height: 100px; /* Set the height of the icon */
 
  
  
}

.about-headers {
  align-items: center;
  color: #b62ca8;
  font-family: "Inria Sans";
  font-weight: 100;
  font-size: 50px;
  padding: 60px;

}

.about-headers h2 {
  text-align: center;
}